<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de cartas</title>
  <link rel="stylesheet" href="/app.css">
</head>
<body>
  <div class="names">
    <div class="profilePic1"></div>
    <h2 class="player1" id="player1">Jugador 1</h2>
    <h2 class="score1 player1" id="score1"></h2>
    <h2 class="score2 player2" id="score2"></h2>
    <h2 class="player2" id="player2">Jugador 2</h2>
    <div class="profilePic2"></div>
  </div>
  
  <div class="container">
    <% cartas.forEach(carta => { %>
      <div class="elem">
        <img src="<%= carta.ruta %>" alt="<%= carta.nombre %>">
      </div>
    <% }); %>
  </div>
  
  <button onclick="mostrarAlerta()">Configuración de jugadores</button>
  <button onclick="CambiarFoto('player1')">Cambiar Foto Jugador 1</button>
  <button onclick="CambiarFoto('player2')">Cambiar Foto Jugador 2</button>

  <script src="../app.js"></script>
  <script src="../sweetalert2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
