<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de cartas</title>
  <link rel="icon" href="../public/imgs/hollow.ico" type="image/x-icon">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <div class="names">
    <div class="profilePic1"></div>
    <h2 class="player1" id="player1">Jugador 1</h2>
    <h2 class="score1 player1" id="score1"></h2>
    <h2 class="score2 player2" id="score2"></h2>
    <h2 class="player2" id="player2">Jugador 2</h2>
    <div class="profilePic2"></div>
  </div>

  <div class="container">
    <% cartas.forEach(carta=> { %>
      <div class="elem">
        <img src="<%= carta.ruta %>" alt="<%= carta.nombre %>">
      </div>
      <% }); %>
  </div>

  <button onclick="mostrarAlerta()" class="btn">Configuración de jugadores</button>
  <button onclick="CambiarFoto(1)" class="btn">Cambiar foto Jugador 1</button>
  <button onclick="CambiarFoto(2)" class="btn">Cambiar foto Jugador 2</button>
  <button id="popUpBtn" onclick="letMePopUp()" class="btn">let me pop up</button>

  <script src="../app.js"></script>
  <script src="../sweetalert2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="node_modules/spin.js/spin.js"></script>
</body>
</html>