<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de cartas</title>
  <link rel="stylesheet" href="/app.css">
</head>
<body>
  <div class="names">
    <h2 class="palyer1"> Patricio Lorem</h2>
    <h2 class="score1 palyer1" id="score1"></h2>
    <h2 class="score2 palyer2" id="score2"></h2>
    <h2 class="palyer2"> Pahan Impsum</h2>
  </div>
  <div class="container">
    <% cartas.forEach(carta => { %>
      <div class="elem">
        <img src="<%= carta.ruta %>" alt="<%= carta.nombre %>">
      </div>
    <% }); %>
  </div>
  <script src="../app.js"></script>
  <script type="module" src="../routes/myRouter.js"></script>
</body>
</html>
