<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de cartas</title>
  <link rel="stylesheet" href="/app.css">
</head>
<body>
  <div class="names">
    <h2 class = "palyer1"> Patricio Lorem</h2>
    <h2 class = "palyer2"> Pahan Impsum</h2>
  </div>
  <div class="container">
    <div class="elem">1</div>
    <div class="elem">2</div>
    <div class="elem">3</div>
    <div class="elem">4</div>
    <div class="elem">5</div>
    <div class="elem">6</div>
    <div class="elem">7</div>
    <div class="elem">8</div>
    <div class="elem">9</div>
    <div class="elem">10</div>
    <div class="elem">11</div>
    <div class="elem">12</div>
    <div class="elem">13</div>
    <div class="elem">14</div>
    <div class="elem">15</div>
    <div class="elem">16</div>
    <div class="elem">17</div>
    <div class="elem">18</div>
    <div class="elem">19</div>
    <div class="elem">20</div>
    <div class="elem">21</div>
    <div class="elem">22</div>
    <div class="elem">23</div>
    <div class="elem">24</div>
    <div class="elem">25</div>
    <div class="elem">26</div>
    <div class="elem">27</div>
    <div class="elem">28</div>
    <div class="elem">29</div>
    <div class="elem">30</div>
    <div class="elem">31</div>
    <div class="elem">32</div>
  </div>
</body>
</html>
