body{
  font-family: 'Montserrat', sans-serif;
  margin-left: 25px;
  margin: 2px;
}
.container{
  display: grid; 
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
}

.elem{
  background-color: red;
  width: 120px;
  height: 120px;
  justify-self: center;
}

.names{
  display: flex;
  justify-content: space-between;
}

.palyer1{
  margin-right: 50px; 
}

.palyer2{
  margin-right:50px;
}

.score1{
  margin-left:30px;
  justify-content: left;
}

